Repository lumirlumir/npm-clang-format-node, pull requests merged in 2025-01, with the labels that each got.

#161 docs: update `README.md` of `examples-clang-format`
  examples/clang-format/README.md
Labels: docs

#131 chore: create `examples/git-clang-format`
  examples/git-clang-format/.clang-format
  examples/git-clang-format/README.md
  examples/git-clang-format/package.json
  examples/git-clang-format/src/main.c
  examples/git-clang-format/src/main_overwrite.txt
  package-lock.json
Labels: chore

#165 chore: update `.prettierrc.js` to use external package
  .prettierrc.js
  package-lock.json
  package.json
Labels: sync-server

#166 chore: update `lint.yml`, `test.yml`, `lint-staged.config.js`
  .github/workflows/lint.yml
  .github/workflows/test.yml
  lint-staged.config.js
Labels: sync-server

#168 chore: update `dependabot.yml`
  .github/dependabot.yml
Labels: sync-server

#171 fix: Windows support-`exit 0` instead of `true` in scripts
  packages/clang-format-git-python/package.json
  packages/clang-format-git/package.json
  packages/clang-format-node/package.json
Labels: bug, fix, current: reviewing

#172 release(patch): v1.2.4
  examples/clang-format/package.json
  examples/git-clang-format/package.json
  lerna.json
  package-lock.json
  packages/clang-format-git-python/package.json
  packages/clang-format-git/package.json
  packages/clang-format-node/package.json
  tests/integration-api-cjs/package.json
  tests/integration-api-esm/package.json
  tests/integration-binaries-permission/package.json
  website/package.json
Labels: release

#174 chore: bump ESLint from v8 to v9
  .eslintignore
  .eslintrc.js
  .github/sync-client.yml
  eslint.config.js
  package-lock.json
  package.json
  packages/clang-format-git-python/src/cli.js
  packages/clang-format-git-python/src/utils/gitClangFormatPath.js
  packages/clang-format-git/src/cli.js
  packages/clang-format-git/src/utils/getGitClangFormatPath.js
  packages/clang-format-git/src/utils/gitClangFormatPath.js
  packages/clang-format-node/src/cli.js
  packages/clang-format-node/src/utils/clangFormatPath.js
  packages/clang-format-node/src/utils/getClangFormatPath.js
  tests/integration-binaries-permission/index.test.js
Labels: chore

#175 chore: add `engines` field to `package.json`
  package.json
Labels: chore

#178 release(patch): v1.2.5
  examples/clang-format/package.json
  examples/git-clang-format/package.json
  lerna.json
  package-lock.json
  packages/clang-format-git-python/package.json
  packages/clang-format-git/package.json
  packages/clang-format-node/package.json
  tests/integration-api-cjs/package.json
  tests/integration-api-esm/package.json
  tests/integration-binaries-permission/package.json
  website/package.json
Labels: release

#180 docs: fix incorrect comment placement
  packages/clang-format-node/src/cli.js
Labels: docs

#181 docs: update eslint-disable comments for backward compatibility with `node:` namespace
  packages/clang-format-git-python/src/cli.js
  packages/clang-format-git-python/src/utils/gitClangFormatPath.js
  packages/clang-format-git/src/cli.js
  packages/clang-format-git/src/utils/getGitClangFormatPath.js
  packages/clang-format-git/src/utils/gitClangFormatPath.js
  packages/clang-format-node/src/cli.js
  packages/clang-format-node/src/utils/clangFormatPath.js
  packages/clang-format-node/src/utils/getClangFormatPath.js
Labels: docs

#182 ci: update labeler workflow to trigger on edited pull requests
  .github/workflows/labeler.yml
Labels: ci

#184 refactor(website): add Google Analytics integration to `.vitepress/config.mjs`
  website/.vitepress/config.mjs
  website/docs/get-started/configuration.md
Labels: refactor

#185 docs: create `q-and-a.md`
  website/.vitepress/config.mjs
  website/docs/get-started/q-and-a.md
Labels: docs

#186 docs: add navigation link to 'Why We Started This Project' in `get-started /index.md` documentation
  website/docs/get-started/index.md
Labels: docs

#187 docs: create `surgical-formatting-with-git-clang-format.md`
  website/.vitepress/config.mjs
  website/docs/further-reading/surgical-formatting-with-git-clang-format.md
Labels: docs

#188 docs: create `introduction.md`
  website/.vitepress/config.mjs
  website/docs/further-reading/surgical-formatting-with-git-clang-format.md
  website/docs/get-started/introduction.md
Labels: docs

#189 ci: update commit type of `llvm-build-bump-pr.yml` to `chore` from `build`
  .github/workflows/llvm-build-bump-pr.yml
  website/docs/get-started/introduction.md
Labels: ci

#190 ci: add PowerShell and CMD test to `test-cross-platform.yml`
  .github/workflows/test-cross-platform.yml
Labels: ci

#191 feat: add API documentation links to type files (JSDoc type hints)
  packages/clang-format-git-python/src/utils/gitClangFormatPath.js
  packages/clang-format-git/src/utils/getGitClangFormatPath.js
  packages/clang-format-git/src/utils/gitClangFormatPath.js
  packages/clang-format-node/src/utils/clangFormatPath.js
  packages/clang-format-node/src/utils/getClangFormatPath.js
Labels: feat

#192 chore: update `extensions.json` and `.github/sync-client.yml`
  .github/sync-client.yml
  .vscode/extensions.json
Labels: chore

#193 ci: add `concurrency` settings to `lint.yml` and `test.yml` workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci

#194 release(minor): v1.3.0
  examples/clang-format/package.json
  examples/git-clang-format/package.json
  lerna.json
  package-lock.json
  packages/clang-format-git-python/package.json
  packages/clang-format-git/package.json
  packages/clang-format-node/package.json
  tests/integration-api-cjs/package.json
  tests/integration-api-esm/package.json
  tests/integration-binaries-permission/package.json
  website/package.json
Labels: release

#195 docs: fix a typo
  website/docs/get-started/introduction.md
Labels: docs

#196 chore(website): add additional favicon and icon links to website configuration
  website/.vitepress/config.mjs
  website/public/favicon.ico
  website/public/logo-lightgray-small.png
  website/public/logo-lightgray.png
Labels: chore

#197 chore: add `dev` and `start` scripts for every packages
  package.json
  packages/clang-format-git-python/package.json
  packages/clang-format-git/package.json
  packages/clang-format-node/package.json
Labels: chore

#198 chore: run `npm audit fix` to fix vulnerabilities
  package-lock.json
Labels: chore

#205 chore: add `vercel-ignore-command.sh` script and update `vercel.json` configuration
  .github/sync-client.yml
  scripts/vercel-ignore-command.sh
  website/vercel.json
Labels: chore
